body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto;
    background-color: rgba(100,128,206,1);
}

#headMenu {
    display: flex;
    background-color: rgba(100,128,206,1);
}
.mainHeader {
    margin: 0;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: rgba(100,128,206,1);
}

#main {
    width: 100vw;
    height: 60vh;
}

#backgroundId {
    font-size: 55px;
    height: 100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px #000000;
    color: gainsboro;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
}

#wd {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.shandon, .atascadero, .callender, .creston, .estrella, .guadalupe, .lakeNacimiento, .losAlamos, .miles, .orcutt, .sanLuisObispoCounty, .sanMiguel, .santaMargarita, .templeton, .vandenbergVillage, .villageMobileHomePark {
    background-image: url("../img/Central\ Coast\ Inland.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cambria, .cayucos, .losOsos, .vandenbergAirForceBase {
    background-image: url("../img/Central\ Coast\ Shore.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nipomo {
    background-image: url("../img/nipomo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.arroyoGrande {
    background-image: url("../img/Arroyo\ Grande.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.groverBeach {
    background-image: url("../img/Grover\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.oceano {
    background-image: url("../img/Oceano.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pismoBeach {
    background-image: url("../img/Pismo\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.avilaBeach {
    background-image: url("../img/Avila\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pasoRobles {
    background-image: url("../img/Paso\ Robles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sanLuisObispo {
    background-image: url("../img/San\ Luis\ Obispo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.morroBay {
    background-image: url("../img/Morro\ Bay.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.santaMaria {
    background-image: url("../img/Santa\ Maria.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.defaultOceanCity {
    background-image: url("../img/Central\ Coast\ Shore.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.defaultInlandCity {
    background-image: url("../img/Central\ Coast\ Inland.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

footer {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: rgba(100,128,206,1);
    margin: 0px;
}

.temperature {
    font-size: 4vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.humidity {
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.pressure {
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.timeStamp {
    text-align: center;
    font-size: 2vw;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMin {
    font-size: 1.5vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMax {
    font-size: 1.5vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.windSpeed {
    margin: 0;
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
}

.windDirection {
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.rain {
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.snow {
    font-size: 2vmin;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.headerStylez {
    text-align: center;
    font-size: 7vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

#tempDiv {
    position: fixed;
    top: 33vh;
    left: 75vw;
    width: 22vw;
    height: 19vh;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#tempDiv i {
    margin-left: 4vmin;
    font-size: 3vmin;
}

#tempDiv p {
    margin-left: 4vmin;
}

#windDiv {
    position: fixed;
    top: 33vh;
    left: 1vw;
    width: 25vw;
    height: 19vh;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#dataTime {
    position: fixed;
    top: 65vh;
    left: 38vw;
    width: 25vw;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#windDiv i {
    margin-left: 11vmin;
    font-size: 5vmin;
}

#windDiv p {
    margin-left: 3vmin;
}

#humPressureDiv {
    position: fixed;
    top: 52vh;
    left: 30vw;
    width: 21vw;
    height: 7vh;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#humPressureDiv p {
    margin-left: 2vmin;
}

#rainAndSnowDiv {
    position: fixed;
    top: 52vh;
    left: 58vw;
    width: 20vw;
    height: 7vh;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#rainAndSnowDiv p {
    margin-left: 2vmin;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: rgba(100,128,206,1);
    
}

.fToC {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 30px;
    margin-top: 10px;
    background-color: white;
}

.pickCity {
    background-color: rgba(100,128,206,1);
    color: white;
    height: 60px;
    width: 80px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(100,128,206,1);
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 300px;
    overflow-y: scroll;
}

.dropdown-content::-webkit-scrollbar {
    width: 0.2em;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.3);
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: rgba(100,128,206,1);
    outline: 1px solid rgba(100,128,206,1);
}

.dropdown-content button {
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover { 
    background-color: lightblue;
    color: black;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fToC:hover {
    background-color: #3e8e41;
    color: white;
}

@media screen and (max-width: 800px) {
    #tempDiv {
        position: fixed;
        top: 33vh;
        left: 75vw;
        width: 22vw;
        height: 13vh;
        display: block;
        background: rgba(0,0,0,0.3);
        border-radius: 25%;
    }

    #windDiv {
        position: fixed;
        top: 33vh;
        left: 1vw;
        width: 25vw;
        height: 13vh;
        display: block;
        background: rgba(0,0,0,0.3);
        border-radius: 25%;
    }
}

@media screen and (max-width: 400px) {
    #tempDiv {
        position: fixed;
        top: 30vh;
        left: 75vw;
        width: 22vw;
        height: 20vh;
        display: block;
        background: rgba(0,0,0,0.3);
        border-radius: 25%;
    }

    #windDiv {
        position: fixed;
        top: 30vh;
        left: 1vw;
        width: 25vw;
        height: 19vh;
        display: block;
        background: rgba(0,0,0,0.3);
        border-radius: 25%;
    }
}
