body {
    width: 100%;
    height: 800px;
    padding: 0px;
    /**border: 3px solid green;**/
    margin: auto;
}

#headMenu {
    display: flex;
    background-color: rgb(100,128,206,1);
}
.mainHeader {
    width: 90%;
    margin: 0;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    text-align: center;
    color: white;
    /*background-color: rgb(39, 79, 190);*/
    background-color: rgb(100, 128, 206, 1);
}

#main {
    width: 100%;
    height: 444px;
    overflow-y: scroll;
}

#main::-webkit-scrollbar {
    width: 0.2em;
}

#main::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.3);
}

#main::-webkit-scrollbar-thumb {
    background-color: rgb(100,128,206,1);
    outline: 1px solid rgb(100,128,206,1);
}

.allTen {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    /*text-align: center;*/
    text-shadow: 2px 2px 4px #000000;
    color: gainsboro;
    background-color: rgb(255, 255, 255);
    /*background-image: url("https://s8149.pcdn.co/wp-content/uploads/2013/08/villageNight-923x372.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
}

.city0 {
    background-image: url("../img/newnipomo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city1 {
    background-image: url("https://s8149.pcdn.co/wp-content/uploads/2013/08/villageNight-923x372.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city2 {
    background-image: url("https://ihg.scene7.com/is/image/ihg/holiday-inn-express-grover-beach-4364470448-2x1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city3 {
    background-image: url("https://www.planetware.com/photos-large/USCA/san-luis-obispo-oceano-dunes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city4 {
    background-image: url("https://media.sabrecdn.com/dolphinbay/application/files/5414/6117/8626/Property_Aerial.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city5 {
    background-image: url("https://odis.homeaway.com/odis/destination/2b42e4ca-a389-4336-8f7b-3b5464391cd6.hw1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city6 {
    background-image: url("http://www.evansstreetstation.com/wp-content/uploads/2018/08/cass-vineyard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city7 {
    background-image: url("https://slochamber.org/wp-content/uploads/2014/10/CalPolyPeaks_4148.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city8 {
    background-image: url("https://www.morro-bay.ca.us/ImageRepository/Document?documentID=9062");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.city9 {
    background-image: url("https://www.cityofsantamaria.org/Home/ShowImage?id=248&t=635555543502070000");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    font: size 30;
    ;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: rgb(100, 128, 206, 1);
    margin: 0px;
}

.transbox {
    margin: 30px;
    background-color: #151414;
    border: 1px solid black;
    opacity: 0.8;
    width: 37%;
    height: 250px;
    filter: alpha(opacity=30);
    margin: auto;
    border-radius: 100px;
    display: flex;
    max-height: 250px;
    max-width: 500px;
    min-width: 468px;
    min-height: 250px;
}

.temperature {
    font-size: 45px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0 0 0 0;
}

.humidity {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.pressure {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMin {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMax {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.windSpeed {
    margin: 35px 0 0 0;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.windDirection {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.rain {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.snow {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.headerStylez {
    text-align: center;
}

#tempDiv {
    height: 200px;
    width: 235px;
    position: relative;
    /*float: left;*/
    display: block;
    min-height: 200px;
    min-width: 235px;
    max-height: 210px;
    max-width: 235px;
}

#tempDiv i {
    margin-left: 50px;
}

#tempDiv p {
    margin-left: 40px;
}

#windDiv {
    height: 200px;
    width: 235px;
    position: relative;
    /*float: right;*/
    display: block;
    min-height: 200px;
    min-width: 235px;
    max-height: 210px;
    max-width: 235px;
}

#windDiv i {
    margin-left: 50px
}

#windDiv p {
    margin-left: 15px;
}

#humPressureDiv {
    left: -470px;
    top: 180px;
    height: 50px;
    width: 235px;
    position: relative;
    /*float: left;*/
    display: block;
    min-height: 50px;
    min-width: 235px;
    max-height: 210px;
    max-width: 235px;
}

#humPressureDiv p {
    margin-left: 40px;
}

#rainAndSnowDiv {
    left: -470px;
    top: 180px;
    height: 50px;
    width: 235px;
    position: relative;
    /*float: right;*/
    display: block;
    min-height: 50px;
    min-width: 235px;
    max-height: 210px;
    max-width: 235px;
}

#rainAndSnowDiv p {
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: rgb(100, 128, 206, 1);
    
}

.fToC {
    position: relative;
    display: inline-block;
    border: 0;
    height: 23px;
    width: 30px;
    margin-top: 10px;
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(100, 128, 206, 1);
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
