body {
    width: 100vw;
    min-width:310px;
    max-width: 1680px;
    height: 100vh;
    min-height: 480px;
    max-height: 1280px;
    padding: 0px;
    margin: auto;
    background-color: rgba(100,128,206,1);
}

#headMenu {
    display: flex;
    background-color: rgba(100,128,206,1);
    height: 16vh;
    min-height: 100px;
}
.mainHeader {
    margin: auto;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: rgba(100,128,206,1);
}

#main {
    width: 100%;
    height: 70vh;
    min-height: 370px;
}

#backgroundId {
    font-size: 55px;
    height: 100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
}

#wd {
    width: 100%;
    height: 100%;
}

.shandon, .atascadero, .callender, .creston, .estrella, .guadalupe, .lakeNacimiento, .losAlamos, .miles, .orcutt, .sanLuisObispoCounty, .sanMiguel, .santaMargarita, .templeton, .vandenbergVillage, .villageMobileHomePark {
    background-image: url("../img/Central\ Coast\ Inland.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cambria, .cayucos, .losOsos, .vandenbergAirForceBase {
    background-image: url("../img/Central\ Coast\ Shore.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nipomo {
    background-image: url("../img/nipomo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.arroyoGrande {
    background-image: url("../img/Arroyo\ Grande.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.groverBeach {
    background-image: url("../img/Grover\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.oceano {
    background-image: url("../img/Oceano.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pismoBeach {
    background-image: url("../img/Pismo\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.avilaBeach {
    background-image: url("../img/Avila\ Beach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pasoRobles {
    background-image: url("../img/Paso\ Robles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sanLuisObispo {
    background-image: url("../img/San\ Luis\ Obispo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.morroBay {
    background-image: url("../img/Morro\ Bay.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.santaMaria {
    background-image: url("../img/Santa\ Maria.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.defaultOceanCity {
    background-image: url("../img/Central\ Coast\ Shore.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.defaultInlandCity {
    background-image: url("../img/Central\ Coast\ Inland.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

footer {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    color: white;
    background-color: rgba(100,128,206,1);
    margin: 0px;
    height: 5vw;
    min-height: 45px;
}

.temperature {
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.humidity {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.pressure {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.timeStamp {
    text-align: center;
    font-size: 2vw;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMin {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.tempMax {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.windSpeed {
    margin: 0;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

.windDirection {
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.rain {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.snow {
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

.headerStylez {
    text-align: center;
    font-size: 7vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

#tempDiv {
    width: 22vw;
    height: 26vh;
    float: right;
    margin-right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#tempDiv i {
    margin-left: 4vmin;
    font-size: 60px;
}

#tempDiv p {
    margin-left: 4vmin;
}

#windDiv {
    margin-left: 10px;
    width: 25vw;
    height: 19vh;
    float: left;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#dataTime {
    margin-left: 10px;
    margin-top: 50px;
    float: left;
    clear: both;
    width: 30vw;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#windDiv i {
    margin-left: 18vmin;
    font-size: 60px;
}

#windDiv p {
    margin-left: 3vmin;
}

#humPressureDiv {
    width: 19vw;
    height: 7vh;
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 120px;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#humPressureDiv p {
    margin-left: 2vmin;
}

#rainAndSnowDiv {
    width: 16vw;
    height: 7vh;
    float: right;
    clear: right;
    margin-top: 20px;
    margin-right: 120px;
    background: rgba(0,0,0,0.3);
    border-radius: 25%;
}

#rainAndSnowDiv p {
    margin-left: 2vmin;
}

.dropdown {
    position: absolute;
    top: 0%;
    left: 85vw;
    height: 20px;
    width: 20px;
    padding: 5px;
    background-color: rgba(100,128,206,1);
    
}

.fToC {
    position: absolute;
    top: 0%;
    left: 90vw;
    height: 23px;
    width: 30px;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
}

.pickCity {
    background-color: rgba(100,128,206,1);
    color: white;
    height: 60px;
    width: 80px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(100,128,206,1);
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 300px;
    overflow-y: scroll;
}

.dropdown-content::-webkit-scrollbar {
    width: 0.2em;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.3);
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: rgba(100,128,206,1);
    outline: 1px solid rgba(100,128,206,1);
}

.dropdown-content button {
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover { 
    background-color: lightblue;
    color: black;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fToC:hover {
    background-color: #3e8e41;
    color: white;
}

@media screen and (min-width: 1450px) {
    #tempDiv {
        left: 70vw;
    }

    #windDiv {
        left: 7vw;
    }
}

@media screen and (max-width: 1250px) {

    #tempDiv i {
        font-size: 50px;
    }

    .temperature {
        font-size: 50px;
    }

    #windDiv i {
        font-size: 50px;
    }

    .windSpeed {
        font-size: 22px;
    }
    
    .windDirection {
        font-size: 22px;
    }
}
@media screen and (max-width: 1050px) {
    #tempDiv i {
        font-size: 40px;
    }

    .temperature {
        font-size: 40px;
    }

    #windDiv i {
        margin-left: 15vmin;
        font-size: 40px;
    }

    .windSpeed {
        font-size: 17px;
    }
    
    .windDirection {
        font-size: 17px;
    }
}

@media screen and (max-width: 850px) {
    #tempDiv {
        height: 22vh;
    }

    #tempDiv i {
        font-size: 30px;
    }

    .temperature {
        font-size: 30px;
    }

    .tempMin {
        font-size: 15px;
    }
    
    .tempMax {
        font-size: 15px;
    }

    #windDiv {
        height: 17vh;
    }

    #windDiv i {
        margin-left: 12vmin;
        font-size: 30px;
    }

    .windSpeed {
        font-size: 13px;
    }
    
    .windDirection {
        font-size: 13px;
    }

    .humidity {
        font-size: 11px;
    }
    
    .pressure {
        font-size: 11px;
    }

    .rain {
        font-size: 11px;
    }
    
    .snow {
        font-size: 11px;
    }

    .dropdown {
        left: 83vw;
    }
}

@media screen and (max-width: 650px) {
    #tempDiv {
        height: 18vh;
    }

    #tempDiv i {
        font-size: 20px;
    }

    .temperature {
        font-size: 20px;
    }

    .tempMin {
        font-size: 10px;
    }
    
    .tempMax {
        font-size: 10px;
    }

    #windDiv {
        width: 30vw;
        height: 16vh;
    }

    #windDiv i {
        margin-left: 10vmin;
        font-size: 30px;
    }

    .windSpeed {
        font-size: 11px;
    }
    
    .windDirection {
        font-size: 11px;
    }

    #humPressureDiv {
        width: 21vw;
    }

    .humidity {
        font-size: 9px;
    }
    
    .pressure {
        font-size: 9px;
    }

    #rainAndSnowDiv {
        width: 20vw;
    }

    .rain {
        font-size: 9px;
    }
    
    .snow {
        font-size: 9px;
    }

    .dropdown {
        left: 79vw;
    }
}

@media screen and (max-width: 480px) {
    #tempDiv {
        margin-top: 50px;
        margin-right: 25px;
        width: 140px;
        height: 130px;
    }

    #tempDiv i {
        font-size: 25px;
    }

    .temperature {
        font-size: 25px;
    }

    .tempMin {
        font-size: 11px;
    }
    
    .tempMax {
        font-size: 11px;
    }

    #windDiv {
        margin-top: 50px;
        margin-left: 25px;
        width: 185px;
        height: 120px;
    }

    #windDiv i {
        margin-left: 70px;
        font-size: 50px;
    }

    .windSpeed {
        font-size: 15px;
    }
    
    .windDirection {
        font-size: 15px;
    }

    #humPressureDiv {
        width: 130px;
        height: 35px;
        margin-left: 80px;
    }

    .humidity {
        margin-top: 5px;
        font-size: 12px;
    }

    .pressure {
        font-size: 12px;
    }

    #rainAndSnowDiv {
        width: 120px;
        height: 35px;
        margin-right: 80px;
    }

    .rain {
        margin-top: 5px;
        font-size: 12px;
    }

    .snow {
        font-size: 12px;
    }

    .fToC {
        left: 400px;
    }

    .timeStamp {
        font-size: 18px;
        width: 210px;
    }
    .dropdown {
        left: 345px;
    }
}

@media screen and (max-width: 320px) {
    .mainHeader {
        font-size: 20px;
        padding-top: 15px;
    }

    #tempDiv {
        margin-top: 30px;
        margin-right: 10px;
        height: 120px;
        width: 110px;
    }

    #tempDiv i {
        font-size: 20px;
    }

    .temperature {
        font-size: 20px;
    }

    .tempMin {
        font-size: 11px;
    }
    
    .tempMax {
        font-size: 11px;
    }

    #windDiv {
        margin-top: 30px;
        margin-left: 10px;
        width: 155px;
        height: 100px;
    }

    #windDiv i {
        margin-left: 60px;
        font-size: 40px;
    }

    .windSpeed {
        font-size: 13px;
    }
    
    .windDirection {
        font-size: 13px;
    }

    #humPressureDiv {
        margin-left: 20px;
        width: 130px;
    }

    #rainAndSnowDiv {
        margin-right: 20px;
        width: 110px;
    }

    .timeStamp {
        font-size: 13px;
        width: 140px;
    }

    .fToC {
        left: 280px;
    }

    .dropdown {
        left: 225px;
    }
}
